.footer {
  display: flex;
  padding: 2rem;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #4163e0, #3e87d6);
}

.footNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}

.info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.info p {
  color: #fff; /* Text */
}

.phone,
.email,
.nav {
  text-decoration: none;
  margin: 10px 0 0 25px;
  font-size: 1.5rem;
  color: #fff;
}

.email:hover,
.email:active,
.phone:hover,
.phone:active {
  color: #5f1a37;
}

.i-email,
.i-phone {
  width: 15px;
}

.contact {
  display: flex;
  flex-direction: row;
  margin: 0 5rem 2rem 3.5rem;
}

.email {
  padding: 0px 10 0px 15px;
}

.phone {
  padding: 0px 15px 0px 15px;
}

@media screen and (max-width: 767px) {
  .footer {
    /* padding: 1rem; */
  }

  .contact {
    flex-direction: column;
    margin: auto;
  }

  .phone,
  .email {
    text-align: center;
    padding: 0;
    margin: 0.5rem 0;
  }

  .phone,
  .email,
  .nav {
    font-size: 0.8rem;
  }
}

/* @media screen and (max-width: 575px) {
  .footer {
    padding: 1rem;
  }

  .contact {
    margin-left: 0.8rem;
  }

  .phone,
  .email {
    padding: 0;
    margin: 0;
  }

  .phone,
  .email,
  .nav {
    font-size: 0.8rem;
  }

  .info {
    flex-direction: column;
  }
} */
