.footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #4163e0, #3e87d6);
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.info p {
  color: #fff; /* Text */
}

.primary {
  display: flex;
  flex-direction: row;
}

.phone,
.email,
.nav {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #fff;
}

.email:hover,
.email:active,
.phone:hover,
.phone:active {
  color: #5f1a37;
}

.i-email,
.i-phone {
  width: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.email {
  padding: 0px 10 0px 15px;
}

.phones {
  display: flex;
  flex-direction: row;
}

.phone {
  padding: 0px 15px 0px 15px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}

@media screen and (max-width: 1199px) {
  .footer ul {
    padding: 1rem;
  }

  .primary {
    flex-direction: column;
  }

  .email {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .footer ul {
    display: none;
  }

  .contact {
    flex-direction: column;
    margin: auto;
  }

  .phone,
  .email {
    text-align: center;
    padding: 0;
  }

  .phone,
  .email,
  .nav {
    font-size: 0.8rem;
  }
}
