.main-container {
  display: flex;
  flex-direction: column;
  /* top: 0; */
  width: 100%;
  max-width: 1600px;
  background-color: #fff;
  box-shadow: -10px 5px 100px #000;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: relative;

  /* min-height: 100vh; */
}

@media screen and (max-width: 1600px) {
  .main-container {
    box-shadow: none;
  }
}
