.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  background-color: #fff;
  box-shadow: -10px 5px 100px #000;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: relative;
}

@media screen and (max-width: 575px) {
  .main-container {
    max-width: 575px;
    box-shadow: none;
  }
}
