.main-container {
  display: flex;
  flex-direction: column;
  /* top: 0; */
  width: 100%;
  max-width: 1600px;
  background-color: rgba(255, 255, 255, 0.85);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: relative;

  /* min-height: 100vh; */
}
