/* .back {
  background-image: url(../../assets/lighthouse.jpg);
  width: 100%;
  height: 100vh;
   background-size: cover;
  z-index: -1;
}
.overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.1;
} */
.container {
  position: relative;
  min-height: 80vh;
  background-image: linear-gradient(#4163e0, #3e87d6);
}

/* .container Image {
  width: 100%;
  height: auto;
} */

.section-content {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-content p {
  color: #fff; /* Text */
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}

.section-content h2 {
  color: #fff; /* Quote  */
  font-size: 3rem;
}

.emphasis {
  font-size: 1.2em;
  text-decoration: underline;
  text-shadow: 2px 2px #5f1a37;
}

.section-content Button {
  margin: 0 5px;
}

@media screen and (max-width: 1042px) {
  .section-content {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .section-content {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .section-content p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .section-content h2 {
    font-size: 2.5rem;
  }
  .section-content .btn {
    margin-top: 1.5rem;
  }
  .section-content .btn a {
    font-size: 0.9rem;
  }
  .section-content .btn a.simple {
    padding: 0.7rem 1.4rem;
  }

  .section-content .btn a.border {
    padding: 0.7rem 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .back {
    background-position: center;
  }
  .section-content {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .section-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .section-content h2 {
    font-size: 2.1rem;
  }
  .section-content .btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-content .btn a {
    font-size: 0.9rem;
  }
  .section-content .btn a.simple {
    padding: 0.7rem 1.4rem;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 496px) {
  .section-content p {
    margin-bottom: 0.8rem;
  }

  .section-content h2 {
    font-size: 1.8rem;
  }
}
