.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 110;
  animation: fade-in 0.3s ease-out;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4163e0;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 20px 20px 0 0;
}

.header h3 {
  font-size: 1.5rem;
  color: #fff;
}

.header-icon {
  cursor: pointer;
}

.header-icon:hover {
  color: #5f1a37;
}

.container p {
  padding: 1rem;
  color: #5f1a37;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
