html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Playfair Display", serif;
}

p,
a,
input,
button {
  font-family: "Josefin Sans", sans-serif;
}

.icon {
  width: 15px;
}
